In [21]:
import pandas as pd
from sqlalchemy import create_engine

### 1) Reading & cleaning data:

In [22]:
csv_file = r"D:\mojahed_chatbot\data\trivia_full.csv"

df = pd.read_csv(csv_file)

In [23]:
df

,Unnamed: 0,question,answers
0,0,Do You Know Where You're Going To? was the the...,mahogany
1,1,Which actor had a Doberman Pinscher called Kirk?,william shatner
2,2,Which musical featured the song Thank Heaven f...,gigi
3,3,The VS-300 was a type of what?,helicopter
4,4,Where in England was Dame Judi Dench born?,york
...,...,...,...
69468,7780,"What successful, no-frills airline is headquar...",southwest
69469,7781,"Starting 30 years of conflict, the Eritrean Wa...",democratic republic of ethiopia
69470,7782,"Eric Arthur Blair, born 25 June, 1903, was the...",eric arthur blair
69471,7783,"First put on sale last week, Decision Points, ...",george w
69472,7784,"The gravesite of what American writer, buried ...",poe

In [24]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [25]:
df.head()

                                            question          answers
0  Do You Know Where You're Going To? was the the...         mahogany
1   Which actor had a Doberman Pinscher called Kirk?  william shatner
2  Which musical featured the song Thank Heaven f...             gigi
3                     The VS-300 was a type of what?       helicopter
4         Where in England was Dame Judi Dench born?             york

### 2) Connect to PostgreSQL database:

In [26]:
engine = create_engine("postgresql://postgres:mdkn@localhost:5432/chatbot")

### 3) Create a table and insert data:

In [27]:
df.to_sql("qa_trivia", engine, if_exists="replace", index = False)

print(f"Data inserted into table 'qa_trivia table' successfully!")

Data inserted into table 'qa_trivia table' successfully!

The loaded done ✅